

<section class="service-process-section py-6 lg:py-12 bg-white">
    <div class="site-container">
        {% if process.main_heading %}
            <div class="flex items-center mb-12 lg:mb-16">
                <div class="mr-1 md:mr-4 flex-shrink-0">
                    <svg width="33" height="54" viewBox="0 0 33 54" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-mainstay-green"> 
                        <path d="M0.00292969 53.428L0.259933 53.558H5.10093L32.1379 0.0939941H26.9749L0.00292969 53.428Z" fill="currentColor"/> 
                    </svg>
                </div>
                <h2 class="section-heading text-black">
                    {{ process.main_heading }}
                </h2>
            </div>
        {% endif %}
        {% if process.process_items %}
            <div class="process-items-container pl-6 lg:pl-12">
                {% for item in process.process_items %}
                    <div class="process-item {% if not loop.last %}process-item-border{% endif %}">
                        <div class="process-item-content lg:grid lg:gap-16" style="grid-template-columns: 1fr 2fr;">
                            <div class="process-item-heading-col">
                                {% if item.heading %}
                                    <h3 class="process-item-heading text-black">
                                        {{ item.heading }}
                                    </h3>
                                {% endif %}
                            </div>
                            
                            <div class="process-item-content-col">
                                {% if item.content %}
                                    <div class="process-item-text text-black">
                                        {{ item.content|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
